@charset "UTF-8";
nav {
  margin-top: 10px;
  background-color: transparent;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
nav .container .navbar-brand {
  display: flex;
  align-items: center;
}
nav .container .navbar-brand img {
  width: 175px;
  height: auto;
}
nav .container .menu-navbar-nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .container .menu-navbar-nav .nav-item {
  margin-left: 15px;
  margin-right: 15px;
}
nav .container .menu-navbar-nav .nav-item .nav-link {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #000;
  line-height: 1;
}
nav .container .menu-navbar-nav .nav-item .nav-link:hover {
  color: #191847;
}
nav.scrolled {
  position: fixed;
  margin-top: 0 !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 75px;
  background-color: #fff !important;
  -webkit-box-shadow: 0 4px 6px 0 rgba(12, 0, 46, 0.05);
  box-shadow: 0 4px 6px 0 rgba(12, 0, 46, 0.05);
}
nav.scrolled .container .navbar-brand img {
  width: 140px;
  height: auto;
}
nav.scrolled .container .menu-navbar-nav .nav-item .nav-link {
  padding-right: 0.5rem !important;
  padding-left: 0.5rem !important;
  font-size: 15px;
}
nav.scrolled .container .mainBtn {
  font-size: 15px;
  padding: 10px 25px !important;
}
nav.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #fcfcfc;
  background-image: linear-gradient(#FCFCFC, #FBFBFB);
}

* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

button,
input,
img {
  outline: none !important;
  box-shadow: none !important;
}

.line-through {
  text-decoration: line-through;
}

.wrapper {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0 !important;
  overflow: hidden;
}

/*Start Header*/
.header {
  display: flex;
  width: 100%;
  padding: 160px 0 100px;
  justify-content: center;
  align-items: center;
}
.header .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
}
.header .container .header-title {
  padding: 73px 0;
}
.header .container .header-title h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 1.25;
  margin-bottom: 10px;
  color: #191847;
}
.header .container .header-title p {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 25px;
}
.header .container .header-title .btns {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-top: 20px;
}
.header .container .header-img {
  padding: 0 15px;
}
.header .container .header-img img {
  width: 100%;
}

/*End Header*/
/*Start Courses */
.courses {
  background-color: rgba(222, 228, 233, 0.25);
  padding-top: 0;
  padding-bottom: 50px;
}
.courses .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
}
.courses .container .owl-theme .course-cont {
  position: relative;
  display: flex;
  padding-top: 0;
  padding-bottom: 25px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
}
.courses .container .owl-theme .course-cont .course-title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  padding-top: 50px;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
}
.courses .container .owl-theme .course-cont .course-title span {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  color: #49495c;
}
.courses .container .owl-theme .course-cont .course-title h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 40px;
  line-height: 1.25;
  margin-bottom: 10px;
  color: #191847;
}
.courses .container .owl-theme .course-cont .course-title p {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
}
.courses .container .owl-theme .owl-dots {
  position: absolute;
  top: 0;
  right: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 25px 0 25px 6px;
  height: 100%;
}
.courses .container .owl-theme .owl-dots .owl-dot:not(:last-of-type) {
  margin-bottom: 4px;
}
.courses .container .owl-theme .owl-dots .owl-dot:hover span, .courses .container .owl-theme .owl-dots .owl-dot.active span {
  background-color: #ff4133;
}

/* End Courses */
/*Start Tutors*/
.tutors {
  position: relative;
  margin: 0;
  padding: 75px 15px;
}
.tutors h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 40px;
  line-height: 1.25;
  margin-bottom: 10px;
  color: #191847;
}
.tutors p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  max-width: 700px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}
.tutors .theImg {
  margin-top: 55px;
  margin-bottom: 0;
}
.tutors .theImg .img {
  background-color: #c1dee2;
  border-radius: 100%;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
  margin: auto;
  margin-bottom: 20px;
}
.tutors .theImg .img img {
  height: 100px;
  width: 100%;
}
.tutors .theImg span {
  color: #191847;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 18px;
  max-width: 125px;
  display: block;
  margin: auto;
  line-height: 1.25;
}

/*End Tutors*/
/* Start Pricing */
.pricing {
  padding-top: 75px;
  padding-bottom: 75px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  background-color: #fff;
}
.pricing h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 40px;
  line-height: 1.25;
  margin-bottom: 10px;
  color: #191847;
}
.pricing p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  max-width: 700px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}
.pricing .cards {
  display: flex;
  flex-direction: row;
  padding-top: 25px;
  padding-bottom: 25px;
  justify-content: center;
  align-items: center;
  padding: 50px 75px 20px;
}
.pricing .cards .card {
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 40px 45px;
  border-radius: 10px;
  text-align: center;
  border: none;
  position: relative;
  overflow: hidden;
}
.pricing .cards .card:hover {
  box-shadow: 0 2px 29px rgba(0, 0, 0, 0.15) !important;
  z-index: 5;
  cursor: pointer;
}
.pricing .cards .card.feat {
  box-shadow: 0 2px 40px rgba(0, 0, 0, 0.05);
  background-color: #e9edf0;
  padding-top: 50px;
  padding-bottom: 50px;
}
.pricing .cards .card.price-one {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.pricing .cards .card.price-third {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.pricing .cards .card.feat:before {
  content: "POPULAR";
  font-family: "Montserrat", sans-serif;
  position: absolute;
  display: block;
  width: 225px;
  padding: 5px 0;
  background-color: #69a1ac;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  text-align: center;
  left: -63px;
  top: 33px;
  transform: rotate(-45deg);
}
.pricing .cards .card .card-body {
  padding: 0;
}
.pricing .cards .card .card-body h5 {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  padding-bottom: 0;
  color: #858585;
  margin-bottom: 0;
}
.pricing .cards .card .card-body h5.feat {
  font-size: 20px;
  font-weight: 700;
}
.pricing .cards .card .card-body p {
  color: #191847;
  font-weight: 800;
  font-family: Montserrat;
  font-size: 34px;
  line-height: 1.25;
}
.pricing .cards .card .card-body p.feat {
  font-size: 40px;
}
.pricing .cards .card .card-body span {
  font-size: 12px;
  font-family: Montserrat;
  font-weight: 600;
  color: #000;
}
.pricing .cards .card ul {
  width: 100%;
  list-style: none;
  padding-inline-start: 0;
  margin-bottom: calc(1rem + 15px);
  margin-top: 1rem;
}
.pricing .cards .card ul li {
  font-size: 14px;
  padding: 0;
  color: #404040;
  font-family: Poppins;
  font-weight: 300;
  line-height: 1.25;
  text-align: center;
  margin-top: 5px;
  background-color: transparent;
  border: none;
}
.pricing .cards .card ul li.line-through {
  color: #a0a0a0;
}

/* End Pricing */
/*Start FAQs One*/
.faqs-one {
  padding-top: 25px;
  padding-bottom: 25px;
  position: relative;
}
.faqs-one .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
}
.faqs-one .container .faqs-title {
  padding: 58px 15px;
}
.faqs-one .container .faqs-title span {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  color: #49495c;
}
.faqs-one .container .faqs-title .h1 {
  font-family: Poppins;
  font-weight: 800;
  font-size: 40px;
  line-height: 1.25;
  margin-bottom: 10px;
  color: #191847;
}
.faqs-one .container .faqs-title p {
  font-family: Poppins;
  color: #212529;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  max-width: 500px;
}
.faqs-one .container .faqs-title .btns button {
  max-width: 500px;
  border-radius: 50px;
  padding: 5px 25px !important;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  text-align: left;
  outline: none;
  width: 100%;
}
.faqs-one .container .faqs-title .btns button.active::after {
  content: "−";
}
.faqs-one .container .faqs-title .btns button::after {
  content: "+";
  font-size: 24px;
  color: #fff;
  font-weight: 700;
  float: right;
  margin-left: 5px;
}
.faqs-one .container .faqs-title .btns .panel {
  padding: 0 18px;
  background-color: transparent;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.faqs-one .container .faqs-title .btns .panel.active {
  max-height: 106px;
}
.faqs-one .container .faqs-title .btns .panel p {
  font-family: Poppins;
  color: #5c6874;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.5;
  margin-top: 20px;
  margin-bottom: 20px;
}
.faqs-one .container .faqs-img {
  padding: 20px;
}
.faqs-one .container .faqs-img img {
  width: 100%;
}

/*End FAQs One*/
/*Start FAQs One*/
.faqs-two {
  background-color: transparent;
  padding-top: 0;
  padding-bottom: 75px;
  position: relative;
}
.faqs-two .img-right {
  position: absolute;
  width: 25%;
  right: -5%;
  top: 10%;
}
.faqs-two .img-right img {
  width: 100%;
}
.faqs-two .container .owl-theme .course-cont {
  position: relative;
  display: flex;
  padding-top: 25px;
  padding-bottom: 25px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
}
.faqs-two .container .owl-theme .course-cont .course-title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
}
.faqs-two .container .owl-theme .course-cont .course-title span {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  color: #49495c;
}
.faqs-two .container .owl-theme .course-cont .course-title h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 40px;
  line-height: 1.25;
  margin-bottom: 10px;
  color: #191847;
}
.faqs-two .container .owl-theme .course-cont .course-title p {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
}
.faqs-two .container .owl-theme .owl-dots {
  margin: 0 !important;
}
.faqs-two .container .owl-theme .owl-dots .owl-dot:hover span, .faqs-two .container .owl-theme .owl-dots .owl-dot.active span {
  background-color: #ff4133;
}

/*End FAQs two*/
/*Start Download*/
.download {
  padding-top: 75px;
  padding-bottom: 75px;
  background-color: rgba(182, 178, 255, 0.22);
  position: relative;
}
.download .img-left {
  position: absolute;
  bottom: 5%;
  left: -7%;
}
.download .img-left img {
  width: 100%;
}
.download .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
}
.download .container .download-title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  padding: 0 15px;
  width: 100%;
}
.download .container .download-title span {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  color: #49495c;
}
.download .container .download-title .h1 {
  font-family: Poppins;
  font-weight: 800;
  font-size: 40px;
  line-height: 1.25;
  margin-bottom: 10px;
  color: #191847;
}
.download .container .download-title p {
  font-family: Poppins;
  color: #212529;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  max-width: 700px;
}
.download .container .download-title .btns {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-top: 20px;
}
.download .container .download-img {
  padding: 0 15px;
}
.download .container .download-img img {
  width: 100%;
}

/*End Download*/
.mainBtn {
  background-color: #ff4133;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #fff;
  padding: 10px 30px !important;
  border-radius: 100px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.mainBtn i {
  margin-top: -3px;
  padding-right: 5px;
}
.mainBtn:hover {
  color: #fff;
  background-color: #db2721;
}

.secondBtn {
  background-color: transparent;
  font-size: 16px;
  font-family: Montserrat;
  font-weight: 600;
  color: #558b95;
  padding: 8px 26px !important;
  border-radius: 100px;
  border: 2px solid #558b95;
  display: inline-flex;
  margin-left: 10px;
  justify-content: center;
  align-items: center;
}
.secondBtn i {
  margin-top: -3px;
  padding-right: 5px;
}
.secondBtn:hover {
  color: #191847;
  border: 2px solid #191847;
}

/*Start Footer*/
.footer {
  padding-top: 75px;
  padding-bottom: 55px;
  margin-bottom: 0 !important;
  position: relative;
  background-color: #fff;
  color: #303669;
}
.footer .img-right {
  position: absolute;
  right: -2%;
  bottom: -17%;
  transform: rotate(45deg);
  width: 100px;
}
.footer .img-right img {
  width: 100%;
}
.footer .container .footer-logo {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  padding-right: 40px;
}
.footer .container .footer-logo .logo {
  width: 120px;
  margin-bottom: 20px;
}
.footer .container .footer-logo .logo img {
  width: 100%;
}
.footer .container h6 {
  font-size: 22px;
  font-family: Poppins;
  font-weight: 700;
  color: #191847;
  line-height: 2.2;
  margin-bottom: 10px;
}
.footer .container p {
  max-width: 250px;
  font-family: Poppins;
  font-size: 16px;
  line-height: 1.75;
  font-weight: 300;
}
.footer .container ul li {
  font-size: 16px;
  color: #191847;
  font-family: Poppins;
  font-weight: 300;
  line-height: 1.5;
  text-align: left;
  margin-top: 10px;
  display: table-row;
}
.footer .container .footer-icons {
  display: flex;
}
.footer .container .footer-icons a {
  justify-content: center;
  align-items: center;
  padding-right: 25px;
  color: #191847;
}
.footer .container .footer-icons a i {
  color: #191847;
  font-size: 25px;
  text-decoration: none !important;
}
.footer .copyright {
  padding-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.footer .copyright div a {
  color: #191847;
  font-weight: bold;
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}
.footer .copyright div a:hover {
  color: #ff4133;
  text-decoration: none;
}

/*End Footer*/

/*# sourceMappingURL=home.css.map */
