/* Start Navbar */

nav {
    background-color: transparent;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    @include prefixer(transition, all .2s linear, webkit moz o ms);
    .container {
        .navbar-brand {
            display: flex;
            align-items: center;
            img {
                width: 175px;
                height: auto;
            }
        }
        .navbar-toggler {
            border: none;
            position: relative;
            &.clicked {
                pointer-events: none;
            }
            span {
                &.navbar-bars {
                    cursor: pointer;
                    display: block;
                    height: 22px;
                    margin: 0px;
                    position: relative;
                    transition: .5s ease-in-out;
                    width: 28px;
                    &.clicked {
                        height: 30px;
                        span {
                            &:nth-child(1) {
                                @include prefixer(transform, rotate(45deg), webkit moz o ms);
                                top: 15px !important;
                            }
                            &:nth-child(2) {
                                display: none;
                            }
                            &:nth-child(3) {
                                @include prefixer(transform, rotate(-45deg), webkit moz o ms);
                                top: 15px !important;
                            }
                        }
                    }
                    span {
                        @include prefixer(transition, .25s ease-in-out, webkit moz o ms);
                        background: $blueColor;
                        border-radius: 9px;
                        display: block;
                        height: 3px;
                        left: 0;
                        position: absolute;
                        width: 100%;
                        top: 0;
                        &:nth-child(2) {
                            top: 10px;
                        }
                        &:nth-child(3) {
                            top: 20px;
                        }
                    }
                }
            }
        }
        .navbar-collapse {
            @media(max-width: 992px) {
                background-color: #fcfcfc;
                color: $blueColor;
                padding-bottom: 20px;
                padding-top: 20px;
                .menu-navbar-nav {
                    &:first-of-type {
                        margin-bottom: 10px;
                    }
                }
            }
            .menu-navbar-nav {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                .nav-item {
                    margin-left: 15px;
                    margin-right: 15px;
                    .nav-link {
                        font-family: 'Poppins', sans-serif;
                        font-weight: 600;
                        font-size: 18px;
                        color: #000;
                        line-height: 1;
                        &:hover {
                            color: $blueColor;
                        }
                    }
                }
            }
            ul.navbar-nav {
                align-items: center;
            }
        }
    }
    &.scrolled {
        width: 100%;
        height: 75px;
        @include prefixer(box-shadow, 0 4px 6px 0 rgba(12, 0, 46, .05), webkit moz ms);
        background-color: #fff!important;
        padding-top: 15px !important;
        padding-bottom: 15px !important;
        @media(min-width: 1200px) {
            .container {
                .navbar-brand {
                    padding: 0;
                    img {
                        width: 140px;
                        height: auto;
                    }
                }
                .menu-navbar-nav {
                    .nav-item {
                        .nav-link {
                            font-size: 15px !important;
                        }
                    }
                }
                .mainBtn {
                    font-size: 15px !important;
                    padding: 10px 25px!important;
                }
            }
        }
    }
    @media (max-width: 1200px) {
        padding-top: 35px !important;
        padding-bottom: 35px !important;
        .container {
            .navbar-brand {
                padding: 0;
                img {
                    width: 140px;
                    height: auto;
                }
            }
            .menu-navbar-nav {
                .nav-item {
                    .nav-link {
                        font-size: 15px !important;
                    }
                }
            }
            .mainBtn {
                font-size: 15px !important;
                padding: 10px 25px!important;
            }
        }
    }
}


/* End Navbar */