body {
    font-family: 'Poppins', sans-serif;
    height: 5000px;
    background-color: #fcfcfc;
    background-image: linear-gradient(#FCFCFC, #FBFBFB);
}

* {
    @include prefixer(user-select, none, webkit moz o ms);
}

button,
input,
img {
    outline: none !important;
}

.line-through {
    text-decoration: line-through;
}