/*Start Header*/

.header {
    display: flex;
    padding: 160px 0 100px;
    justify-content: center;
    align-items: center;
    @media(max-width: 992px) {
        padding-top: 20%;
        padding-bottom: 50px;
    }
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row-reverse;
        .header-title {
            padding: 0 15px;
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-top: 40px;
            @media(max-width: 992px) {
                position: relative;
                order: 2;
            }
            @media(max-width: 1200px) {
                padding: 0;
            }
            h1 {
                font-family: 'Poppins', sans-serif;
                font-weight: 800;
                font-size: 40px;
                line-height: 1.25;
                margin-bottom: 10px;
                color: $blueColor;
                @media (max-width: 1200px) {
                    font-size: 36px !important;
                }
                @media (max-width: 992px) {
                    font-size: 34px !important;
                }
                @media (max-width: 768px) {
                    font-size: 29px !important;
                }
                @media (max-width: 576px) {
                    font-size: 23px !important;
                }
            }
            p {
                font-family: 'Montserrat', sans-serif;
                font-size: 22px;
                font-weight: 500;
                line-height: 1.5;
                margin-bottom: 5px;
                @media (max-width: 499.99px) {
                    font-size: 15px !important;
                }
                @media (max-width: 768px) {
                    font-size: 20px;
                }
            }
            .btns {
                display: flex;
                justify-content: left;
                align-items: center;
                margin-top: 20px;
                width: 100%;
            }
        }
        .header-img {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            @media(max-width: 992px) {
                margin-top: 20px;
                position: relative;
                order: 1;
            }
            @media (max-width: 576px) {
                margin-top: 40px !important;
            }
            padding: 0 15px;
            img {
                width: 100%;
            }
        }
    }
}


/*End Header*/


/*Start Courses */

.courses {
    background-color: rgba(222, 228, 233, .25);
    padding-top: 0;
    padding-bottom: 50px;
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row-reverse;
        .owl-theme {
            .course-cont {
                position: relative;
                display: flex;
                padding-bottom: 25px;
                padding-top: 0;
                @media(max-width: 992px) {
                    padding-bottom: 0;
                }
                flex-wrap: wrap;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding-left: 15px;
                padding-right: 15px;
                .course-title {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    text-align: left;
                    padding-top: 50px;
                    padding-right: 15px;
                    padding-left: 15px;
                    width: 100%;
                    @media(max-width: 992px) {
                        padding: 50px 0px !important;
                    }
                    @media(max-width: 399.99px) {
                        padding: 50px 15px !important;
                    }
                    span {
                        font-family: 'Poppins', sans-serif;
                        font-size: 20px;
                        font-weight: 400;
                        line-height: 1.5;
                        color: #49495c;
                        margin-bottom: 10px;
                        @media (max-width: 499.99px) {
                            font-size: 16px !important;
                        }
                    }
                    h2 {
                        font-family: 'Poppins', sans-serif;
                        font-weight: 800;
                        font-size: 40px;
                        line-height: 1.25;
                        margin-bottom: 15px;
                        color: $blueColor;
                        margin-right: auto;
                        margin-left: auto;
                        max-width: 400px;
                        @media (max-width: 499.99px) {
                            font-size: 20px !important;
                        }
                        @media (min-width:992px) and (max-width: 1200px) {
                            font-size: 37px !important;
                        }
                    }
                    p {
                        font-family: Poppins;
                        font-size: 16px;
                        font-weight: 300;
                        line-height: 1.5;
                        max-width: 480px;
                        margin-right: auto;
                        margin-left: auto;
                        @media (max-width: 499.99px) {
                            font-size: 13px !important;
                        }
                        @media (max-width: 991.99px) {
                            font-size: 14px !important;
                        }
                        @media (min-width:992px) and (max-width: 1200px) {
                            font-size: 15px !important;
                        }
                    }
                }
            }
            .owl-dots {
                position: absolute;
                top: 0;
                right: 25px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                margin: 25px 0 25px 6px;
                height: 100%;
                @media(max-width: 992px) {
                    bottom: -30px;
                    top: auto;
                    right: 0;
                    flex-direction: row;
                    margin: 0;
                    width: 100%;
                    height: auto;
                }
                .owl-dot {
                    &:not(:last-of-type) {
                        margin-bottom: 4px;
                    }
                    &:hover,
                    &.active {
                        span {
                            background-color: $redColor;
                        }
                    }
                }
            }
        }
    }
}


/* End Courses */


/*Start Tutors*/

.tutors {
    position: relative;
    margin: 0;
    padding: 75px 15px;
    h2 {
        font-family: 'Poppins', sans-serif;
        font-weight: 800;
        font-size: 40px;
        line-height: 1.25;
        margin-bottom: 10px;
        color: $blueColor;
        @media (max-width: 992px) {
            font-size: 35px !important;
        }
        @media (max-width: 499.99px) {
            font-size: 26px !important;
        }
    }
    p {
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        font-weight: 300;
        line-height: 1.5;
        max-width: 700px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
        @media (max-width: 992px) {
            font-size: 15px !important;
        }
        @media (max-width: 768px) {
            font-size: 14px !important;
        }
        @media (max-width: 576px) {
            font-size: 13px !important;
        }
    }
    .theImg {
        margin-top: 55px;
        margin-bottom: 0;
        .icon {
            background-color: #c1dee2;
            border-radius: 100%;
            height: 100px;
            width: 100px;
            font-size: 35px;
            line-height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: auto;
            margin-bottom: 20px;
            color: $blueColor;
        }
        span {
            color: $blueColor;
            font-family: Montserrat;
            font-weight: 700;
            font-size: 18px;
            max-width: 300px;
            display: block;
            margin: auto;
            line-height: 1.25;
            @media (max-width: 992px) {
                font-size: 16px !important;
            }
        }
    }
}


/*End Tutors*/


/* Start Pricing */

.pricing {
    padding-top: 75px;
    padding-bottom: 75px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    background-color: #fff;
    h2 {
        font-family: 'Poppins', sans-serif;
        font-weight: 800;
        font-size: 40px;
        line-height: 1.25;
        margin-bottom: 10px;
        color: $blueColor;
        @media (max-width: 992px) {
            font-size: 35px !important;
        }
        @media (max-width: 499.99px) {
            font-size: 26px !important;
        }
    }
    p.lead {
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        font-weight: 300;
        line-height: 1.5;
        max-width: 700px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
        @media (max-width: 992px) {
            font-size: 13px !important;
            padding: 0 15px;
        }
    }
    .cards {
        display: flex;
        flex-direction: row;
        padding-top: 25px;
        padding-bottom: 25px;
        justify-content: center;
        align-items: center;
        padding: 50px 75px 20px;
        @media (max-width: 992px) {
            padding: 50px 0;
            &>div:nth-of-type(1) {
                order: 2;
            }
            &>div:nth-of-type(3) {
                order: 3;
            }
        }
        .card {
            background-color: #f8f8f8;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 40px 40px 45px;
            border-radius: 10px;
            text-align: center;
            border: none;
            position: relative;
            overflow: hidden;
            &:hover {
                box-shadow: 0 2px 29px rgba(0, 0, 0, .15) !important;
                z-index: 5;
                cursor: pointer;
            }
            &.feat {
                box-shadow: 0 2px 40px rgba(0, 0, 0, .05);
                background-color: #e9edf0;
                padding-top: 50px;
                padding-bottom: 50px;
            }
            &.price-one {
                border-top-right-radius: 0!important;
                border-bottom-right-radius: 0!important;
            }
            &.price-third {
                border-top-left-radius: 0!important;
                border-bottom-left-radius: 0!important;
            }
            &.feat:before {
                content: 'POPULAR';
                font-family: 'Montserrat', sans-serif;
                position: absolute;
                display: block;
                width: 225px;
                padding: 5px 0;
                background-color: #69a1ac;
                color: #fff;
                font-size: 15px;
                font-weight: 600;
                text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
                text-transform: uppercase;
                text-align: center;
                left: -63px;
                top: 33px;
                transform: rotate(-45deg);
            }
            .card-body {
                padding: 0;
                h5 {
                    font-family: Montserrat;
                    font-size: 18px;
                    font-weight: 600;
                    line-height: 1.5;
                    padding-bottom: 0;
                    color: #858585;
                    margin-bottom: 0;
                    &.feat {
                        font-size: 20px;
                        font-weight: 700;
                    }
                }
                p {
                    color: $blueColor;
                    font-weight: 800;
                    font-family: Montserrat;
                    font-size: 34px;
                    line-height: 1.25;
                    margin-bottom: 0;
                    &.feat {
                        font-size: 40px;
                    }
                }
                span {
                    font-size: 12px;
                    font-family: Montserrat;
                    font-weight: 600;
                    color: #000;
                }
            }
            ul {
                width: 100%;
                list-style: none;
                padding-inline-start: 0;
                margin-bottom: calc(1rem + 15px);
                margin-top: 1rem;
                li {
                    font-size: 14px;
                    padding: 0;
                    color: #404040;
                    font-family: Poppins;
                    font-weight: 300;
                    line-height: 1.25;
                    text-align: center;
                    margin-top: 5px;
                    background-color: transparent;
                    border: none;
                    &.line-through {
                        color: #a0a0a0;
                    }
                }
            }
        }
    }
}


/* End Pricing */


/*Start FAQs One*/

.faqs-one {
    padding-top: 25px;
    padding-bottom: 25px;
    position: relative;
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row-reverse;
        .faqs-title {
            padding: 58px 15px;
            @media(max-width: 992px) {
                padding: 0 15px;
                margin-top: 40px;
                position: relative;
                order: 2;
            }
            // span {
            //     font-family: Poppins;
            //     font-size: 20px;
            //     font-weight: 400;
            //     line-height: 1.5;
            //     color: #49495c;
            // }
            .h1 {
                font-family: Poppins;
                font-weight: 800;
                font-size: 40px;
                line-height: 1.25;
                margin-bottom: 10px;
                color: $blueColor;
                @media (max-width: 992px) {
                    font-size: 35px !important;
                }
                @media (max-width: 576px) {
                    font-size: 30px !important;
                }
                @media (max-width: 499.99px) {
                    font-size: 26px !important;
                }
            }
            p {
                font-family: Poppins;
                color: #212529;
                font-size: 16px;
                font-weight: 300;
                line-height: 1.5;
                max-width: 500px;
                @media(max-width: 992px) {
                    max-width: 700px;
                    font-size: 13px !important;
                }
            }
            .btns {
                button {
                    @media(max-width: 992px) {
                        max-width: 700px;
                    }
                    @media (max-width: 499.99px) {
                        &::after {
                            font-size: 21px
                        }
                    }
                    max-width: 500px;
                    border-radius: 50px;
                    padding: 5px 25px !important;
                    margin-top: 20px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    border: none;
                    text-align: left;
                    outline: none;
                    width: 100%;
                    &.active::after {
                        content: "\2212";
                    }
                    &::after {
                        content: '\002B';
                        font-size: 24px;
                        color: #fff;
                        font-weight: 700;
                        float: right;
                        margin-left: 5px;
                    }
                }
                .panel {
                    padding: 0 18px;
                    background-color: transparent;
                    max-height: 0;
                    overflow: hidden;
                    transition: max-height .2s ease-out;
                    &.active {
                        max-height: 106px;
                    }
                    p {
                        font-family: Poppins;
                        color: #5c6874;
                        font-size: 15px;
                        font-weight: 300;
                        line-height: 1.5;
                        margin-top: 20px;
                        margin-bottom: 20px;
                        @media(max-width: 992px) {
                            font-size: 14px !important;
                        }
                        @media(max-width: 768px) {
                            font-size: 13px !important;
                        }
                        @media(max-width: 576px) {
                            font-size: 12px !important;
                        }
                    }
                }
            }
        }
        .faqs-img {
            padding: 20px;
            &.min {
                margin-top: 50px;
            }
            // @media(max-width: 1200px) {
            //     margin-top: 30px;
            // }
            img {
                width: 100%
            }
        }
        .owl-dots {
            margin: 35px!important;
            .owl-dot {
                &:hover,
                &.active {
                    span {
                        background-color: $redColor;
                    }
                }
            }
        }
    }
}


/*End FAQs One*/


/*Start FAQs One*/

.faqs-two {
    background-color: transparent;
    padding-top: 0;
    padding-bottom: 75px;
    position: relative;
    .img-right {
        position: absolute;
        width: 25%;
        right: -5%;
        top: 10%;
        img {
            width: 100%;
        }
    }
    .container {
        .owl-theme {
            .course-cont {
                position: relative;
                display: flex;
                padding-top: 25px;
                padding-bottom: 25px;
                flex-wrap: wrap;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding-left: 15px;
                padding-right: 15px;
                .course-title {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    text-align: left;
                    padding-right: 15px;
                    padding-left: 15px;
                    width: 100%;
                    span {
                        font-family: 'Poppins', sans-serif;
                        font-size: 20px;
                        font-weight: 400;
                        line-height: 1.5;
                        color: #49495c;
                    }
                    h2 {
                        font-family: 'Poppins', sans-serif;
                        font-weight: 800;
                        font-size: 40px;
                        line-height: 1.25;
                        margin-bottom: 10px;
                        color: $blueColor;
                        @media (max-width: 992px) {
                            font-size: 35px !important;
                        }
                        @media (max-width: 499.99px) {
                            font-size: 26px !important;
                        }
                    }
                    p {
                        font-family: Poppins;
                        font-size: 16px;
                        font-weight: 300;
                        line-height: 1.5;
                        @media (max-width: 992px) {
                            font-size: 14px !important;
                        }
                        @media (max-width: 499.99px) {
                            font-size: 13px !important;
                        }
                    }
                }
            }
            .owl-dots {
                margin: 0!important;
                .owl-dot {
                    &:hover,
                    &.active {
                        span {
                            background-color: $redColor;
                        }
                    }
                }
            }
        }
    }
}


/*End FAQs two*/


/*Start Download*/

.download {
    padding-top: 75px;
    padding-bottom: 75px;
    background-color: rgba(182, 178, 255, .22);
    position: relative;
    .img-left {
        position: absolute;
        bottom: 5%;
        left: -7%;
        img {
            width: 100%;
        }
    }
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row-reverse;
        .download-title {
            @media(max-width: 992px) {
                padding: 0 15px;
                margin-top: 40px;
                position: relative;
                order: 2;
            }
            display: flex;
            justify-content: center;
            flex-direction: column;
            text-align: left;
            padding: 0 15px;
            width: 100%;
            span {
                font-family: Poppins;
                font-size: 20px;
                font-weight: 400;
                line-height: 1.5;
                color: #49495c;
            }
            .h1 {
                font-family: Poppins;
                font-weight: 800;
                font-size: 40px;
                line-height: 1.25;
                margin-bottom: 10px;
                color: $blueColor;
                @media (max-width: 992px) {
                    font-size: 35px !important;
                    padding: 0 20px;
                }
                @media (max-width: 499.99px) {
                    font-size: 28px !important;
                    padding: 0 10px;
                }
                @media (max-width: 410px) {
                    font-size: 24px !important;
                    padding: 0;
                }
            }
            p {
                font-family: Poppins;
                color: #212529;
                font-size: 16px;
                font-weight: 300;
                line-height: 1.5;
                max-width: 700px;
                @media (max-width: 992px) {
                    font-size: 14px !important;
                }
                @media (max-width: 499.99px) {
                    font-size: 13px !important;
                }
            }
            .btns {
                display: flex;
                justify-content: left;
                align-items: center;
                margin-top: 20px;
            }
        }
        .download-img {
            padding: 0 15px;
            img {
                width: 100%;
            }
        }
    }
}


/*End Download*/